@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6vh;
    background-color: #675c53;
    border-bottom: 1px solid #afa9a2;
    padding-left: 1vw;
    padding-right: 1vw;
    z-index: 100;
}

header div {
    display: flex;
}

header a img {
    max-width: 5em;
    max-height: 2em;
    display: block;
}

header a span {
    font-size: 1.8rem;
    display: inline;
}

h1 {
    text-align: center;
    font-size: 1.2em;
    flex-grow: <0>;
    color: White;
    align-self: center;
}

header form {
    padding: 5px;
}

header form input {
    width: 8em;
    max-width: 11em;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border: 0.5px solid white;
    border-radius: 4px;
    font-size: 0.8rem;
    background: transparent;
    background-image: url('..//Images/search-solid.svg');
    background-size: 1rem;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-right: 1em;
}

header form input:focus {
    width: 100vw;
    color: white;
    text-decoration: underline
}

.personal {

    margin-right: 2vw;
    text-decoration: none;
    color: white;
}

.personal span {
    font-size: 2em;
}

.item {
    align-self: center;
}

/*Filters en Sortern*/
main section form fieldset {
    background: rgb(252, 217, 0);
    border: none;
}

main section form fieldset input[type="radio"] {
    display: none;
}

main section form fieldset input[type="checkbox"] {
    display: none;
}

main section form fieldset label {
    padding: 10px;
    background: transparent;
    display: flex;
    flex-direction: row;
    width: 70vw;
    position: relative;
    padding: 5px;
    color: dimgrey;
}

main section form fieldset label::after {
    content: "";
    width: 1em;
    height: 1em;
    background-color: transparent;
    margin: 0 0 0 1em;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

main section form fieldset [type=checkbox]:checked + label::after {
    background-color: darkgreen;
}

main section form fieldset [type=radio]:checked + label::after {
    background-color: darkgreen;
}


main {
    margin-top: 6vh;
}

main div:first-child {
    background-color: rgb(252, 217, 0);
    padding: 0px 0px 5vw 0vw;
}

#filterBtn {
    height: 3em;
    text-decoration: none;
    border: none;
    width: 95vw;
    margin: 0px 0px 3vw 0px;
    padding: 2vw;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    background-color: #fff;
    color: #000;
    text-align: left;
    font-size: 1em;
}

#verrasMe {
    height: 3em;
    text-decoration: none;
    border: none;
    width: 95vw;
    margin: 0px 0px 0vw 0px;
    padding: 2vw;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    background-color: #fff;
    color: #000;
    text-align: left;
    font-size: 1em;
}

#filterAll {
    position: relative;
    background: rgb(252, 217, 0);
    margin-top: -1vw;
    width: 100vw;
    z-index: 99;
    height: 100vh;
}

.secondSection div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {}

.secondSection div article img {
    position: absolute;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    width: 80vw;
    height: 20em;
    display: block;
    left: 5vw;
}

.textBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 18em;
    margin-left: 10vw;
    margin-top: 55vw;
    margin-bottom: 10vh;
    padding: 2vh;
    background: hsla(0, 0%, 100%, .89);
    border-radius: 10px;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
}

article div h3 {
    font-size: 1.4em;
    margin-right: 20vw;
}

article div p:first-child {
    display: inline;
}

.textVerhaal {
    display: none;
}

@media only screen and (min-width: 510px) {

    .secondSection div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
    
    /*Filters en Sortern*/

    main div:first-child {
        display: flex;
        justify-content: space-around;
    }

    main section form fieldset {
        background: rgb(252, 217, 0);
        width: 40vw;
        display: inline-block;
    }

    main section form fieldset:last-of-type {
        display: block;
    }



    main section form fieldset label {
        width: 30vw;
    }

    article div h3 {
        margin: 0;
    }

    .textBox {
        width: 45vw;
        height: 26vh;
        margin: 0;
        margin-bottom: 5vh;
        left: 35vw;
        margin-right: 20vw;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    .secondSection div article img {
        width: 30vw;
        height: 30vh;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    }

    .textVerhaal {
        display: block;
        overflow: hidden;
        max-height: 6em;
    }

    header form input {
        width: 25vw;
        max-width: 40vw;
    }

    #filterBtn {
        width: 40vw;
        margin-left: 3vw;
        margin-right: none;
        margin-bottom: 0vh;
        padding-left: 0vw;
        padding-right: 0vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in- out;
    }

    #verrasMe {
        width: 40vw;
        margin-left: 3vw;
        margin-bottom: 0vh;
        padding-left: 0vw;
        padding-right: 0vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
}

@media only screen and (min-width: 800px) {
    h3 {
        font-size: 2em;
    }
    .secondSection div {
        display: flex;
        justify-content: space-around;
    }

    .textBox {
        margin: 0;
        left: 0vw;
        position: relative;
        margin-left: 2vw;
        margin-bottom: 3em;
        width: 13em;
        height: 11em;
        box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
        border-radius: 10px;
        background: white;
        position: relative;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .secondSection div article img {
        left: 2vw;
        position: relative;
        height: 10em;
        width: 15em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media only screen and (min-width: 980px) {


    
    main div:first-child {
        display: block;
    }


    /*    filters*/
    #filterAll {
        width: 18em;
        position: absolute;
        background: transparent;
        display: block;
        margin-top: 0vh;
        box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
        height: auto;
        padding-bottom: 1em;
    }

    main section form fieldset {
        background: transparent;
        width: auto;
        border: none;
    }

    main section form fieldset label {
        background: transparent;
        width: 20em;
        color: black;
        font-size: 0.8em;
    }

    main section form fieldset label::after {
        background-color: transparent;
        border: 1px solid black;

    }

    main div:first-child {
        background-color: rgb(252, 217, 0);
        padding: 3vh;
    }

    #filterBtn {
        display: none;
    }

    #verrasMe {
        padding: 0px 0px 0px 2vw;
        margin-left: -3vw;
        width: 21vw;
        height: 6vh;
        text-align: left;
    }

    main {
        margin-top: 6vh;
    }

    main .secondSection {
        margin-left: 18em;
    }
    .loginForm div:first-child {
        padding: 0vh;
}


/*inlogpagina*/
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6vh;
    background-color: #675c53;
    border-bottom: 1px solid #afa9a2;
    padding-left: 1vw;
    padding-right: 1vw;
    z-index: 100;
}

header div {
    display: flex;
}

header a img {
    max-width: 5em;
    max-height: 2em;
    display: block;
}

header a span {
    font-size: 1.8rem;
    display: inline;
}

h1 {
    text-align: center;
    font-size: 1.2em;
    flex-grow: <0>;
    color: White;
    align-self: center;
}

header form {
    padding: 5px;
}

header form input {
    width: 8em;
    max-width: 12em;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border: 0.5px solid white;
    border-radius: 4px;
    font-size: 0.8rem;
    background: transparent;
    background-image: url('..//Images/search-solid.svg');
    background-size: 1rem;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-right: 1em;
}

header form input:focus {
    width: 100vw;
    color: white;
    text-decoration: underline
}

.personal {

    margin-right: 2vw;
    text-decoration: none;
    color: white;
}

.personal span {
    font-size: 2em;
}

.item {
    align-self: center;
}


/*Login form*/
.loginForm {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 8vw;
    
}
.lgoinForm h2{
    margin: 0px;
    padding: 0px;
    
}
.loginForm h3{
    display: none;
}
.loginForm .telNr{
    display: none;
}

.boxShadow{
        box-shadow: 8px 8px 18px 8px rgba(103,92,83,.3);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.loginForm div:first-child{
    display: flex;
    flex-flow: column;
    margin: auto;
        background-color: white;
}

.loginForm article:first-of-type {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    text-align: left;
    width: 70vw;
    padding: 2em;
    
    background: ;
}

.loginForm article:last-of-type {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    text-align: left;
    width: 70vw;
    padding: 2em;
    border-radius: 0em 0em 1em 1em;
    background-color: #f7f4f1;
}

.loginForm article:last-of-type ul{
    text-align: left;
    list-style-image: url("..//Images/check-solid.svg");
    margin-bottom: 1em;
    margin-left: none;
    padding-left: 1.5em
}

.emailInput {
    position: relative;
}

.passwordInput {
    position: relative;
}

.loginForm label {
    display: block;
    font-size: 0.8em;
    padding-left: 1.2em;
}

.loginForm input {
    display: block;
    font-size: 1em;
    padding-left: 1.4em;
    border: none;

}

.loginForm input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border-bottom: 1px solid orange;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 0.8rem;
    background: transparent;
    background-size: 1rem;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    -webkit-transition: width 0.5s;
    /* Safari */
    transition: width 0.5s;
    margin-right: 1em;
    margin-bottom: 1em;
}

.loginForm input:focus {
    color: dimgrey;
    border-bottom: 3px solid orange;
}

.loginForm input:valid {
    width: 70vw;
    color: dimgrey;
    border-bottom: 3px solid lightgreen;
}

.loginForm input:valid {
    width: 70vw;
    color: dimgrey;
    border-bottom: 3px solid lightgreen;
}

.emailInput input {
    background-image: url("..//Images/at-solid.svg");
}

.passwordInput input {
    background-image: url("..//Images/lock-solid.svg");
}

.loginForm input[type="submit"] {
    border: none;
    width: 10em;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 1em;
    box-shadow: 0 8px 18px 0 rgba(231,119,43,.3);
    background-color: #e7772b;
    color: white;
    border-radius: 0.5em;
}

.loginForm input[value="Registeren"]{
    box-shadow: 0 8px 18px 0 rgba(103,92,83,.3);
    background-color:  #675c53;
}
