  /*      login:     */
    .loginForm {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        width: 100vw;
    }

    .loginForm h2:first-child {
        display: block;
        width: 50vw;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .loginForm div {
        width: 70vw;
        box-shadow: 8px 8px 18px 8px rgba(103, 92, 83, .3);
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        padding: 0;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .loginForm article {
        width: inherit;
        border-radius: 1em;
        padding: 1em;
        background: white;
    }

    .loginForm article:last-of-type {
        background-color: #f7f4f1;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        border-top-left-radius: 0em;
        border-top-right-radius: 0em;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }

    .loginForm form {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }

    .loginForm article input[type="submit"] {
        width: 15em;
        text-align: center;
        padding: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border: 1px solid orange;
        border-radius: 0.5em;
    }

.loginForm article input[type="submit"]:last-child {
    margin: auto;
}

    .loginForm input {
        border: none;
        background-size: 1rem;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 10px 20px 10px 40px;
    }

    .loginForm input {
        width: 90%;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        border-bottom: 1px solid orange;
        border-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        font-size: 0.8rem;
        background: transparent;
        background-size: 1rem;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 10px 20px 10px 40px;
        -webkit-transition: width 0.5s;
        /* Safari */
        transition: width 0.5s;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .loginForm article form input[type="email"] {
        background-image: url("..//Images/at-solid.svg");
    }

    .loginForm article form input[type="password"] {
        background-image: url("..//Images/lock-solid.svg");
    }

    .loginForm input:focus {
        color: dimgrey;
        border-bottom: 3px solid orange;
    }

    .loginForm input:valid {
        color: dimgrey;
        border-bottom: 3px solid lightgreen;
    }
    
    .loginForm label{
        margin:1em;
        margin-bottom: 0;
    }
    
    .loginForm h3{
        display: none;
    }
    .loginForm a:last-of-type{
        display: none;
    }
